/* AppComponent's private CSS styles */
body {
    background-image:url('electric-zoo.jpg');
  }
  h1 {
      font-size: 1.2em;
      margin-bottom: 0;
      color: rgb(36, 206, 135);
      margin-block-start: 0px;
    }
    h2 {
      font-size: 2em;
      margin-top: 0;
      padding-top: 0;
    }
    nav a {
      padding: 5px 10px;
      text-decoration: none;
      margin-top: 10px;
      display: inline-block;
      background-color: #eee;
      border-radius: 4px;
    }
    nav a:visited, a:link {
      color: #470396;
    }
    nav a:hover {
      color: #c73ca9;
      background-color: #cfd8dc;
    }
    nav a.active {
      color: #039be5;
    }